/* testing*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
}

.upload-section {
  padding: 10px;
  background: #ddd;
  display: flex;
  gap: 10px;
}

.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: white;
}

.message {
  margin-bottom: 10px;
}

.user {
  text-align: right;
  color: blue;
}

.bot {
  text-align: left;
  color: green;
}

.input-section {
  display: flex;
  padding: 10px;
  background: #eee;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}